header{
  max-width:100%;
}


.logo{
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #FFFF;
  width:30px;
  height:30px;
  padding:1em;
}




nav {
  background: linear-gradient(to right, rgb(221, 177, 0), #FFCD45);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

ul {
  background: linear-gradient(to right, rgb(221, 177, 0), #FFCD45);
  list-style: none;
  display: flex;
  gap: 20px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

ul li a:hover {
  color:white;
}

button.add-activity {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 30%;
  border: none;
  cursor: pointer;
}

/* Stil för hamburgermeny */
.hamburger-menu {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-menu img {
  width: 30px;
  height: 30px;
  display: block;
}


@media (max-width: 768px) {

  .hamburger-menu {
    display: block;
  }

  ul {
    display: none;
    position: absolute;
    top: 80px;
    right: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }

  ul.active {
    display: block;
  }

  ul li {
    display: block;
    margin: 10px 0;
  }

  button.add-activity {
    width: 100%;
    margin-top: 10px;
  }

}
