<header>
  <!-- Visa navigationen om showNavigation är true -->
  <nav *ngIf="showNavigation">

    <div class="logo">
      <p *ngIf="name">{{name}}</p>
      </div>

    <h1>App</h1>

    <button class="hamburger-menu" (click)="toggleMenu()"><img src="/bars-solid.svg"></button>

    <ul [ngClass]="{'active': menuOpen}">

      <li><a routerLink="/home" routerLinkActive="current">Startsida</a></li>
      <hr>
      <li><a routerLink="/profile" routerLinkActive="current">Profil</a></li>
      <hr>
      <li><a routerLink="/list" routerLinkActive="current">Aktiviteter</a></li>
      <hr>
      <a [routerLink]="'/createActivity'"><button class="add-activity">Lägg till</button></a>
      <app-log-out></app-log-out>

    </ul>
  </nav>

</header>
