<footer *ngIf="showNavigation" class="has-background-light">
  <div class="container mt-5">

  <div class="columns is-vcentered mt-5">

    <div class="column is-12-mobile is-3-tablet">
      <p>Gustav Brodin</p>
    </div>
    <div class="column is-12-mobile is-3-tablet">
      <p>DT140G</p>
    </div>
    <div class="column is-12-mobile is-3-tablet">
      <p>Examensarbete</p>
    </div>
    <div class="column is-12-mobile is-3-tablet">
      <p>VT 2025</p>
    </div>
  </div>


  </div>
</footer>
