<div id="registerForm">
  <h2>Registrera aktivitet</h2>

  <form (ngSubmit)="submitActivity()">

    <label for="date">Datum:</label>
    <input id="date" type="date" [(ngModel)] = "selectedDate" name="date" required />

    <label for="activity">Aktivitet:</label>
    <select [(ngModel)]="selectedActivity" name="activity" required>
      <option *ngFor="let activity of availableActivities" [value]="activity.activity">{{ activity.activity }} </option>
      </select>

    <label for="duration">Tid:</label>
      <select [(ngModel)]="selectedDuration" name="duration" required>
        <option *ngFor="let time of durations" [value]="time"> {{ time }} </option>
      </select>

    <button type="submit">Registrera</button>

  </form>

  <p *ngIf="successMessage" style="color:greenyellow">{{ successMessage }}</p>
  <p *ngIf="errorMessage" style="color:red">{{ errorMessage }}</p>

  <div class="link">
    <p>Tillbaka till<a [routerLink]="'/home'" aria-label="Till poänglistan"> Poängtavlan</a></p>
  </div>
</div>
