<span *ngIf="loading" class="loader"></span>


<span *ngIf="!loading">
  <section class="section">
    <div class="container box has-background-light">

    <h2 class="title is-4 has-text-centered">Aktivitetslista</h2>
    <hr>

     <div class="table-container">
    <table class="table is-fullwidth is-striped is-hoverable is-bordered has-text-centered">
      <thead>
        <tr>
          <th>Aktivitet</th>
          <th>Baspoäng/min</th>
        </tr>
      </thead>
      <tbody>

        <ng-container *ngFor="let summary of activities">
          <tr>
            <td>{{ summary.activity }}</td>
            <td>{{ summary.value }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
   </div>
  </section>
</span>
