h3{
  text-align: center;
}

.activityList{
  background-color: #F7F7F7;
  width:80vw;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  margin-top: 1em;
  padding:20px;
}

hr{
  width:60vw;
  height:1px;
  color:black;
}

.activityListTable{
  max-width:100%;
  text-align: center;
  padding:1em;
  border-collapse: collapse;
  table-layout: fixed;
}

 .activityList th {
   width: 25%;
   text-align: center;
   padding: 8px;
  }
