
  <span *ngIf="loading" class="loader"></span>


<span *ngIf="!loading">
  <div class="activityList">
    <h2>Aktivitetslista</h2>
    <hr>
    <table class="activityListTable">
      <thead>
        <tr>
          <th>Aktivitet</th>
          <th>Baspoäng/min</th>
        </tr>
      </thead>


      <tbody>


        <ng-container *ngFor="let summary of activities">
          <tr>
            <td>{{ summary.activity }}</td>
            <td>{{ summary.value }}</td>
          </tr>
        </ng-container>

      </tbody>


    </table>
  </div>

</span>
