.leaderBoard{
  background-color: #BFEDCC;
  padding:1em;
  margin-top:5em;
  border-radius: 20%;
  box-shadow: 5px 10px 20px gray;
}


.tableScore td,
.tableScore th,
.tableScore {
  background-color: #BFEDCC;
  border: none !important;
}

