.leaderBoard{
  width:100%;
  background-color: #BFEDCC;
  text-align: center;
  padding:1em;
  margin-top:5em;
}

.tableScore{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

}

.tableScore th {
  width: 25%;
  text-align: center;
  padding: 8px;
}
