
<div class="date">
  <p><app-date-only></app-date-only></p>
</div>

<app-delete-profile-btn [id]="userId" (deleted)="deleted(userId)"></app-delete-profile-btn>


  <span *ngIf="loading" class="loader"></span>




<span *ngIf="!loading">
  <div class="weeklyTraining">
    <h3>Din träningsvecka</h3>
    <h3><app-current-week></app-current-week></h3>
    <hr>
    <table class="weeklyTrainingTable">
      <thead>
        <tr>
          <th>#</th>
          <th>Aktivitet</th>
          <th>Poäng</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let summary of weeklyPoints, index as i">
          <tr>

            <td>{{i + 1}}</td>
            <td>{{ summary.activity }}</td>
            <td>{{ summary.points }}</td>
            <app-delete-activity-btn [id]="summary.id" (deleted)="deleted(summary.id)"></app-delete-activity-btn>

          </tr>
        </ng-container>
      </tbody>
    </table>

    <hr>

    <h4>Detaljerade aktiviteter</h4>

    <table class="weeklyTrainingTable">
      <thead>
        <tr>
          <th>#</th>
          <th>Aktivitet</th>
          <th>Datum</th>
          <th>Poäng</th>
        </tr>
      </thead>
      <tbody>

        <!--Utskrift för enksild aktivit-->
        <ng-container *ngIf="userData && userData.activities">
                <ng-container *ngFor="let activity of userData.activities; index as j">
            <tr>
              <td>{{ j + 1 }}</td>
              <td>{{ activity.activity }}</td>
              <td>{{ activity.timestamp | date:'MM-dd' }}</td>
              <td>{{ activity.points }}</td>
              <app-delete-activity-btn [id]="activity.id" (deleted)="deleted(activity.id)"></app-delete-activity-btn>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>

    </table>

  </div>
</span>
