
<!--<div class="backgroundTrainingSchema">
  <p>mörk bakgrund</p>
</div> -->

<div class="weeklyTraining">
  <h3>Din träningsvecka</h3>
  <p><app-date-of-day></app-date-of-day></p>
  <hr>
  <table class="weeklyTrainingTable">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Aktivitet</th>
        <th>Poäng</th>
      </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let activity of getUser?.activities">
        <tr>
        <td>{{ activity.timestamp | date: 'MM-dd' }}</td>
        <td>{{ activity.activity }}</td>
        <td>{{activity.points }}</td>

      </tr>
      </ng-container>
    </tbody>
  </table>
  </div>

