<div class="headerDiv">
  <h1>App</h1>
</div>
<div id="registerForm">
  <h2>Logga in</h2>
  <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">

        <label for="email">E-post:</label>
    <input id="email" formControlName="email" type="email">
    <div *ngIf="logInForm.get('email')?.invalid && logInForm.get('email')?.touched">
       <p style="color:red">Vänligen ange en giltig e-postadress.</p>
    </div>

    <label for="password">Lösenord:</label>
    <input id="password" formControlName="password" type="password">
    <div *ngIf="logInForm.get('password')?.invalid && logInForm.get('password')?.touched">
       <p style="color:red">Lösenordet är obligatoriskt och måste vara minst 6 tecken långt.</p>
    </div>


    <button type="submit" [disabled]="logInForm.invalid">Logga in</button>
  </form>

  <p *ngIf="errorMessage" style="color:red">{{ errorMessage }}</p>

  <p>Har du inget konto?</p>
  <div class="link">
    <a [routerLink]="'/register'">Registrera</a>
  </div>
</div>
