.headlines{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:2em;
}

.secondThirdPlaceDiv{
  width:100%;
  display: flex;
  justify-content: space-around;
}

.firstPlaceContainer{
  width:100%;
  display: flex;
  justify-content: center;
}
.leader{
width:auto;
height:auto;
  padding:1.5em;
  background-color: #FBAFD8;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 15px gold;
}

.second{
  width:auto;
  height:auto;
  padding:1em;
  border-radius: 50%;
  text-align: center;
  background-color: #76FFE1;
  box-shadow: 2px 10px 15px rgb(144, 144, 144);
}

.third{
  background-color: #FFF980;
  width:auto;
  height:auto;
  padding:1em;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 10px 15px rgb(173, 113, 0);
}

.leader-img{
  width:60%;
  height:auto;
  border-radius: 50%;
}

.second-img{
 width:60%;
  height:auto;
  border-radius: 50%;
}

.third-img{
 width:60%;
  height:auto;
}


