.headlines{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:5em;
}

.leader{
  width:20%;
  height:auto;
  background-color: #FBAFD8;
  position:absolute;
  top:15em;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 15px gold;
}

.second{
  width:20%;
  height:auto;
  border-radius: 50%;
  text-align: center;
  background-color: #76FFE1;
  box-shadow: 2px 10px 15px rgb(144, 144, 144);
}

.third{
  background-color: #FFF980;
  width:20%;
  height:auto;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 10px 15px rgb(173, 113, 0);
}

.leader-icons{
  width:100%;
  display: flex;
  justify-content: center;
  gap:5em;
}

.leader-img{
  width:60%;
  height:auto;
  border-radius: 50%;
}

.second-img{
 width:60%;
  height:auto;
  border-radius: 50%;
}

.third-img{
 width:60%;
  height:auto;
}


