<div class="headlines">
<h2>Poängtavla</h2>
<app-date-of-day></app-date-of-day>
</div>

<div class="firstPlaceContainer">
<div class="leader" *ngIf="topThreeUsers.length > 0 && topThreeUsers[0]?.points">
   <p *ngIf="topThreeUsers.length > 0">{{ topThreeUsers[0].name }}</p>
  <p>{{ topThreeUsers[0].points }} poäng</p>
  </div>
</div>

<div class="secondThirdPlaceDiv">

  <div class="second" *ngIf="topThreeUsers.length > 1 && topThreeUsers[1]?.points">
   <p *ngIf="topThreeUsers.length > 1">{{ topThreeUsers[1].name }}</p>
  <p>{{ topThreeUsers[1].points }} poäng</p>
</div>

<div class="third" *ngIf="topThreeUsers.length > 2 && topThreeUsers[2]?.points">
<p *ngIf="topThreeUsers.length > 2">{{ topThreeUsers[2].name }}</p>
<p>{{ topThreeUsers[2].points }} poäng</p>
</div>
</div>

<app-leader-board></app-leader-board>
